address{
	bottom: 0;
	position: fixed;
}
address:hover{
	color: blue;
}
* {
	font-family: sans-serif;
}
body{
	background: pink;
}
.main{
	text-align: center;
}
.wrap{
	width: 1170px;
	margin: 0 auto;
}
.container{
	/*background: red;*/
	width: 79%;
	float: right;
	padding-left: 1%;
}
.menu{
	/*background: blue;*/
	width: 19%;
	float: left;
	padding-left: 1%; 
}
.menu > h1:first-letter{
	color: white;
	font-size: 12;	
}


.main_img{
	max-width: 400px;
}
.login{
	text-align: right;
}
.form{
	padding: 0 0 0 30%;
	margin: 0 auto;
}
.warning{
	clear: both;
	color: red;
}